body {
  margin: 100px auto;
  background-color:darkred;
  font-family: "Audiowide" ,"ariel";
}
.fds{
  height:10px;
  
  text-align: center;
  width: 50px;
  padding: 40px;
  outline: inset 10px rgb(0, 0, 0) ;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: aqua; 
  outline-offset: -5px;
  outline-style: groove;
  box-shadow: -10px 10px 10px ;
}
 
.abhina{
  height:10px;
  width: 50px;
  padding: 40px;
  outline: inset 10px rgb(0, 0, 0) ;
  margin:50px;
  background-color: aqua; 
  outline-offset: -5px;
  outline-style: groove;
  box-shadow: -10px 10px 10px ;
  
}
.mareez{
  height:123px;
  width: 50px;
  padding: 40px;
  outline: inset 10px rgb(255, 137, 137) ;
  margin:50px;
  background-color: aqua; 
  outline-offset: -5px;
  outline-style: groove;
  box-shadow: -10px 10px 10px ;
} 
#kishan-bhadwa{
  text-align: center;
 text-decoration: limegreen ;
  font shadow: 2px 2px 3px black;
  text-transform: uppercase;
  font-size: 40px;
  
  
}
